/anaconda3
*.pth
*.jpg
*.pnm
*.csv
*.tsv
*.json
*Anaconda3-2019.03-Linux-x86_64.sh
oiio/

.wget-hsts
.gnup
.Xauthority
.bash_history
.bashrc
.cache/
.cargo/
.conda/
.config/
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
.nv/
.profile
.python_history
.ssh/
.viminfo
